#
data/

# misc
.DS_Store
*.pem


# LocalStack
volume/
.yarn
.env

# Build
build/
frontend/build/
dist/

# Package management
package-lock.json


.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.yarn/install-state.gz


*.js
!jest.config.js
*.d.ts
node_modules

chroma/*